# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env
.env.*
!.env.example

# typescript
*.tsbuildinfo

# generated native folders
# /ios
/android

# iOS CocoaPods generated
ios/*.xcworkspace/
src/screens/FigmentAR/res/360/*.mp4

# Unity Builds
unity/builds/

# Unity temporary and cache files
unity/[Ll]ibrary/
unity/[Tt]emp/
unity/[Oo]bj/
unity/[Bb]uild/
unity/[Ll]ogs/
unity/[Mm]emoryCaptures/
#unity/UserSettings/
unity/*.csproj
#unity/*.unitypackage
unity/*.sln
unity/*.suo
unity/*.tmp
unity/*.user
#unity/*.userprefs
unity/*.pidb
unity/*.booproj
unity/*.svd
unity/*.pdb
unity/*.mdb
unity/*.opendb
unity/*.db

# Build Logs
.logs/
logs/

# Large asset packages (exceed GitHub 100MB limit)
unity/Assets/ARTnGAME/
